{% extends "massmigration/base.html" %}

{% block content %}

<h1>Migrations</h1>
<table class="table">
	<thead>
		<tr>
			<th>App</th>
			<th>Migration</th>
			{% for db in available_db_aliases %}
				<th>{{db|default:"autoselect_db"}}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for migration in migrations %}
			<tr>
				<td>{{migration.app_label}}</td>
				<td><a>{{migration.name}}</a></td>
				{% for db_alias, migration_record in migration.records_map.items %}
				<td>
					<div>
						<a href="{% url 'massmigration_detail' key=migration.key%}{% if db_alias %}?db_alias={{db_alias}}{% endif %}">Details</a>
					</div>
					<div>{% if migration_record %}{{migration_record.status}}{% else %}NOT RUN{% endif %}</div>
					<div>
						{% if not migration_record %}
							<a href="{% url 'massmigration_run' key=migration.key%}{% if db_alias %}?db_alias={{db_alias}}{% endif %}">Run...</a>
						{% else %}
							<a href="{% url 'massmigration_delete' key=migration.key%}{% if db_alias %}?db_alias={{db_alias}{% endif %}">Delete...</a>
						{% endif %}
					</div>
				</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock %}
